@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, button, input, select, textarea {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.body p {
  margin-top: 0;
}

.has-text-centered {
  font-style: italic;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px){
  .container{
    margin-bottom: 60px;
  }
}

span.code {
  background-color: #c3d2d6;
  color: #313638;
  font-family: "Inconsolata", "Consolas", "Courier Neue", "Courier", monospace;
  padding: 2px 4px;
  border-radius: 2px;
}

.content pre,
p.fake-code {
  background-color: whitesmoke;
  color: #313638;
  font-family: "Inconsolata", "Consolas", "Courier Neue", "Courier", monospace;
  border-radius: 2px;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  font-size: 14px;
}

.box {
  background-color: #D7E3E6;
  color: #67777B;
  font-weight: bold;
}

nav {
  margin: 20px;
  padding: 0px;
  border-bottom: 1px solid #E0E9EB;
}

.github {
  position: absolute;
  right: 50px;
  top: 5px;
}

.nav-toggle {
  height: 2rem;
  position: absolute;
  right: 0;
  top: 15px;
}

.nav-title {
  color: #225876;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.nav-title:hover {
  color: #225876;
}

.body {
  color: #8A9A9E;
}
.body h1,
.body h2 {
  color: #68CAF9;
}

/*SETUP*/
.container {
  max-width: 960px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 20px;
}

.container p {
  margin-top: 30px;
}

.summary {
  text-align: center;
  background: #6BCFFF;
  color: #225876;
  max-width: 960px;
  border-radius: 5px;

  /*desktop*/
  padding: 20px;
  font-size: 14px;
  margin-bottom: 30px;
}

#airship-logo g,
#airship-logo path {
  fill: #FF8BA9;
}

.summary .title {
  color: #225876;
  margin: 20px;
}

.summary p {
  line-height: 1.25;
}

/*ELEMENTS*/

.image {
  background-color: #6BCFFF;
  padding: 50px;
}

.card p {
  margin: 0;
}

/*ELEMENT*/

.element-details,
.element-detail-image {
  display: inline-block;
  vertical-align: top;
}

.element {
  text-align: center;
}

.element-detail-image {
  width: 100%;
}

.element-details {
  padding: 20px;
  color: #8A9A9E;
}

.element-details h4,
.element-details h1 {
  color: #8A9A9E;
}

@media only screen  and (min-width : 769px) {
  .summary {
    padding: 100px;
    font-size: 20px;
  }

  nav {
    border: none;
  }

  .element {
    text-align: left;
  }

  .element-detail-image {
    width: auto;
  }

  .nav-right {
    height: 20px;
    overflow: hidden;
  }

  .github {
    position: relative;
    top: 0;
    right: 0;
  }
}